header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    border-bottom: 2px solid #fff;
  }

  
  /* berewaries style */

  .breweries-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brewery-item {
  margin-bottom: 20px;
}

.brewery-name a {
  font-size: 24px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.brewery-name a:hover {
  text-decoration: underline;
}

.brewery-description {
  font-size: 16px;
  line-height: 1.5;
}

  .breweries-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.brewery-item {
  margin-bottom: 20px;
}

.brewery-name a {
  font-size: 24px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #333;
}

.brewery-name a:hover {
  text-decoration: underline;
}

.brewery-description {
  font-size: 16px;
  line-height: 1.5;
}



/* about page style */

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .team-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .team-member {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
  }
  
  .team-member img {
    max-width: 150px;
    margin-bottom: 10px;
  }
  
  .team-member h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .team-member p {
    font-size: 16px;
    margin: 0;
  }
  